.login{
    background-color: rgba(0, 0, 0, 0.212);
    height: 100vh;
    width: 100%;
    padding: 10px;
}
.form{
    margin: 5rem auto;
    height: 400px;
    width: 400px;
    background-color: rgb(207, 166, 247);
    border-radius: 10px;
    padding: 10px;
}
.input-box{
    display: block;
    margin: 30px auto;
    font-size:20px ;
    padding: 5px 10px;
    background: transparent;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
}
.heading{
    text-align: center;
    margin: 20px ;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.btn-login{
    display: block;
    margin: 30px auto;
    padding: 10px 30px;
    border: none;
    border-radius: 10px;

}